@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Prueba de vision XD</h2>
    <h3>Esta cosa funciona 2 dasdasd Nava</h3>
    
</div>
