@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">

</head>

<body>

    <main>



        <header>
            <nav>
                <ul>
                    <li><a href="#">PROVEEDOR</a></li>
                    <li><a href="#">PRODUCTO</a></li>
                    <li><a href="#">BUSQUEDAD</a></li>
                    <li><a href="#">FACTURA</a></li>
                    <li><a href="#">ESTADO DEL PEDIDO</a></li>
                </ul>

            </nav>
        </header>

        <hr>
        <h1 id="agregarProvedor">AGREGAR PROVEDOR </h1>


        <hr>

        <form>

            <label for="cp">Codigo Proveedor:</label><br>
            <input type="text" id="cp" name="cp"><br>
            <br>
            <br>
            <label for="rp"> Ruc:</label><br>
            <input type="text" id="rp" name="rp"><br>
            <br>
            <br>
            <label for="cedp"> Cedula :</label><br>
            <input type="text" id="cedp" name="cedp"><br>
            <br>
            <br>
            <label for="nobp"> Nombre :</label><br>
            <input type="text" id="nobp" name="nobp"><br>
            <br>
            <br>
            <label for="app"> Apellido(Paterno) :</label><br>
            <input type="text" id="app" name="app"><br>
            <br>
            <br>
            <label for="apm"> Apellido(Materno) :</label><br>
            <input type="text" id="apm" name="apm"><br>
            <br>
            <br>
            <label for="tlp"> Telefono :</label><br>
            <input type="text" id="tlp" name="tlp"><br>
            <br>
            <br>
            <label for="emlp"> Email :</label><br>
            <input type="text" id="emlp" name="emlp"><br>
            <br>
            <br>
            <label for="drrp"> Direccion :</label><br>
            <input type="text" id="drrp" name="drrp"><br>
            <br>
            <br>
            <label for="cdp"> Ciudad :</label><br>
            <input type="text" id="cdp" name="cdp"><br>
            <br>
            <br>
            <label for="rsp"> Razón Social :</label><br>
            <input type="text" id="rsp" name="rsp"><br>
            <br>
            <br>

            <button type="button" onclick="alert('Se agrego correctamente')">Agregar</button>
            <br>
            <br>
            <button type="button" onclick="alert('Se cancelo correctamente')">Cancelar</button>

        </form>





    </main>


</body>

</html>
