@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Prueba de vision XD</h2>
    <h3>Esta cosa funciona 2 dasdasd Nava 23</h3>

    <hr />
    <br />
    <pre>
    <b>Lionel Andrés Messi Cuccittini</b>, conocido como Leo Messi, es un futbolista argentino que juega como delantero o centrocampista. 
        Desde 2023, integra el plantel del Inter Miami de la MLS estadounidense.

    </pre>

    <h3>Esta cosa funcionra 2 dasdasd Nava 23</h3>
    <h3>Esta cosa funcionra 4 dasdasd Nava 23</h3>

    <h4>Esta cosa funcionra 4 dasdasd Nava 24</h4>







    
</div>
